<div class="lg:pt-13 lg:pb-16">
    <div class="md:container lg:py-2">
        {% for block in section.blocks %}
            <div class="lg:flex-row lg:my-16 flex flex-col">
                {% assign index_modulo = forloop.index | modulo: 2 %}
                <div class="lg:px-16 lg:w-1/2 flex flex-col items-center lg:items-start pt-12 pb-12 justify-center px-8 {% if index_modulo == 0 %}order-1 lg:order-2{% endif %}">
                    <h2 class="text-pink lg:mb-6 mb-10 text-2xl uppercase">{{ block.settings.title }}</h2>
                    <p class="text-base">{{ block.settings.content | newline_to_br }}</p>
                </div>
                <img class="lg:w-1/2 {% if index_modulo == 0 %}order-2 lg:order-1 lg:pr-4{% else %} lg:pl-4 {% endif %}" src="{{ block.settings.image | img_url: 'master' }}" alt="{{ product.title }}">
            </div>
        {% endfor %}
    </div>
</div>
<div class="bg-palepink lg:py-16 pt-4 pb-6">
    <div class="container flex flex-col items-center">
        <h2 class="text-pink lg:text-3xl lg:mb-12 mb-4 text-xl text-center uppercase">So what are you waiting for?</h2>
        <a href="/collections/all" class="btn btn--pink w-56">Shop Now</a>
    </div>
</div>

{% schema %}
{
    "name": "About Page",
    "blocks": [
        {
            "name": "Content Row",
            "type": "content_row",
            "settings": [
                {
                    "id": "title",
                    "type": "text",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}