<div>
  <div>Custom section added</div>
</div>

{% schema %}
  {
    "name": "custom section",
    "settings": [
      
    ],
     "presets": [
    {
      "name": "custom section",
      "settings": {
      }
     
    }
  ]
  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}