<div class="engage-page-banner">
  <img src="//plump-it.s3.amazonaws.com/shopify/page-title--how-it-works.png" alt="How it works">
</div>

<div class="engage-video">
  <div class="engage-placeholder">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-Q0vqSNe41k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

</div>

<div class="container engage-container cf">
  <div class="page-header vh">
    <h1 class="majortitle">{{ page.title }}</h1>
  </div>
  <div class="user-content row-spacing {% if settings.lightbox_imgs %}lightboximages{% endif %}">
    <div class="engage-typography">
    {{ page.content }}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "engage-how-it-works",
    "settings": [
	],
	"presets": [
	  {
		"name": "engage-how-it-works",
        "category": "engage-how-it-works",
        "settings": {}
	  }
	]
  }
{% endschema %}
