<div class="pt-8 lg:pt-16 pb-12 lg:pb-[4.5rem] bg-white">
    <div class="lg:container">
        <h1 class="relative text-xl text-center mb-6">
            <span class="uppercase">
                {{ section.settings.title }}
            </span>
            <a href="/collections/all" class="text-pink hover:underline top-2 lg:block absolute right-0 hidden"><p class="text-xs">View all products</p></a>
        </h1>

        <div class="js-slick lg:-mx-4 relative" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "responsive": [{"breakpoint": "1024", "settings": {"slidesToShow": 2}}]}'>
            {% for block in section.blocks %}
                {% render 'product-card', product: block.settings.product, padded: true, single_line: true, show_button: true %}
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
    {
        "name": "Featured Products",
        "settings": [
            {
                "id": "title",
                "type": "text",
                "label": "Title",
                "default": "Featured Products"
            }
        ],
        "blocks": [
            {
                "name": "Products",
                "type": "product",
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured Products",
                "category": "Advanced layout",
                "blocks": [
                    {
                        "type": "product"
                    },
                    {
                        "type": "product"
                    },
                    {
                        "type": "product"
                    }
                ]
            }
        ]
    }
{% endschema %}