<div class="lg:pt-28 bg-light lg:pb-28 pt-12 pb-16">
  <div class="max-w-[736px] px-8 lg:px-0 mx-auto">
    <h1 class="text-pink px-14 text-2xl text-center uppercase">{{ page.title }}</h1>
    <div class="lg:mt-10 flex flex-col items-center mt-8 text-left">
      <div class="wysiwyg-content wysiwyg-content--small">{{ page.content }}</div>
    </div>
  </div>
</div>
