<div class="lg:pt-36 bg-light lg:pb-56 pt-24 pb-40">
    <div class="max-w-[736px] mx-auto px-8 lg:px-0">
        <h1 class="text-pink px-14 text-2xl text-center uppercase">{{ page.title }}</h1>
        <p class="text-base text-center">This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a
        purchase from Plump It!</p>
        <div class="mt-14 flex flex-col items-center text-left">
            <div class="wysiwyg-content wysiwyg-content--small">{{ page.content }}</div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "privacy",
    "settings": [
	],
	"presets": [
	  {
		"name": "privacy",
        "category": "privacy",
        "settings": {}
	  }
	]
  }
{% endschema %}
