<div class="lg:pt-16 container pt-8 lg:pb-[4.5rem] pb-12 bg-white">
  <h3 class="font-title text-xl text-center text-black uppercase">Why not try...</h3>
  <div class="lg:grid-cols-3 lg:gap-8 js-related-products-carousel lg:grid grid-cols-2 gap-4">
    {% assign displayed_products = 0 %}
    {% assign product_handles = '' %}
    {% for related_product in product.collections[0].products %}
      {% if product.id != related_product.id and displayed_products < 3 %}
        {% unless product_handles contains related_product.handle %}
          {% render 'product-card' , product: related_product, padded_mobile: true, show_button: true %}
          {% assign displayed_products=displayed_products | plus: 1 %}
          {% capture product_handles %}{{ product_handles }}{{ related_product.handle }}{% endcapture %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    {% for related_product in collections.all.products %}
      {% if product.id != related_product.id and displayed_products < 3 %}
        {% unless product_handles contains related_product.handle %}
          {% render 'product-card' , product: related_product, padded_mobile: true, show_button: true %}
          {% assign displayed_products=displayed_products | plus: 1 %}
          {% capture product_handles %}{{ product_handles }}{{ product.handle }}{% endcapture %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Related Products",
    "presets": [
      {
        "name": "Related Products",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
