{% paginate search.results by 9 %}

<div class="lg:pt-28 lg:pb-28 container pt-12 pb-16">
  <h1 class="font-title text-pink text-2xl text-center uppercase">Search Results</h1>
  {% if search.performed %}
    {% if search.results_count > 0 %}
      <p class="lg:mt-10 mt-8 text-base text-center">We found {{ search.results_count }} results for: "{{ search.terms }}"</p>
      <div class="lg:grid-cols-3 lg:gap-8 grid grid-cols-2 gap-4">
        {% for product in search.results %}
          {% render 'product-card', product: product, show_button: true %}
        {% endfor %}
      </div>
    {% else %}
      <p class="lg:mb-16 lg:mt-10 mx-auto my-8 text-base text-center">We found {{ search.results_count }} results for: "{{ search.terms }}"</p>
      <div class="lg:pb-0 flex justify-center pb-8">
        <a href="/collections/all" class="btn btn--pink w-64">Shop All</a>
      </div>
    {% endif %}
  {% else %}
    <p class="lg:mb-16 lg:mt-10 mx-auto my-12 text-base text-center">There were no results for your search</p>
    <div class="lg:pb-0 flex justify-center pb-8">
      <a href="/collections/all" class="btn btn--pink w-64">Shop All</a>
    </div>
  {% endif %}
  <div class="pagination-row container">{% include 'pagination-control' %}</div>
</div>

{% endpaginate %}
