<div class="lg:pb-7 relative pt-8 pb-16 text-white bg-black">
    <div class="lg:divide js-wide-row-carousel lg:divide-x divide-opacity-50 container flex justify-between divide-white">
        {% for block in section.blocks %} 
            <div class="flex-1 text-center">
                <h4 class="mb-1 text-lg font-bold">{{ block.settings.text }}</h4>
                <p class="text-base opacity-50">{{ block.settings.subtext }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "Three Wide Row",
        "blocks": [
            {
                "name": "Block",
                "type": "block",
                "settings": [
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Text",
                        "default": "Same Day Dispatch"
                    },
                    {
                        "type": "text",
                        "id": "subtext",
                        "label": "Subtext",
                        "default": "On orders before midday GMT"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Row Blocks",
                "category": "Advanced layout",
                "blocks": [
                    {
                        "type": "block"
                    },
                    {
                        "type": "block"
                    },
                    {
                        "type": "block"
                    }
                ]
            }
        ]
    }
{% endschema %}