jQuery(document).ready(function(){
var ur = window.location.href;
if(ur.includes('/product')){
      
Element.prototype.appendAfterThis = function(element) {
    element.parentNode.insertBefore(this, element.nextSibling);
};
var sticky = document.createElement('div');
sticky.innerHTML = '<div class="plump-st-container" id="plump-st-containerID"> <div class="plump-st-container__outer"><div class="plump-product-cont"><div class="plump-product-name"></div><div class="plump-product-price"></div></div> <div class="plump-st-container__inner"> <div class="plump-select-container"> <div class="plump-st-select" id="st-select0"> <span>Pack Size</span> <select> <option></option> </select> </div><div class="plump-st-select" id="st-select1"> <span>Subscription</span> <select> <option>One-time purchase</option><option>Subscribe & save</option> </select> </div><div class="plump-st-select" id="st-select2"> <span>Type</span> <select> <option></option> </select> </div></div><div class="plump-st-item_column__button"><a class="plump-st-item__button" rel="nofollow">Add to Cart</a></div></div></div></div>';
var y = document.getElementsByTagName('body');
if(document.getElementsByClassName('plump-st-container').length == 0){
  y[0].appendChild(sticky);
  
  
$('.plump-product-name').html($('h1.product_name').eq(0).text());
  
 
function populateOptions(select, labels){
  var selected = labels.eq(0).prop('selectedIndex');
  if(labels.attr('id') == 'option-pack-size' && jQuery('#variant_select b').text().includes('Please')){
    var option = document.createElement('OPTION');
    var t = document.createTextNode("Please select");
      option.appendChild(t);
   	  option.id = "plump-please-select";
      select.appendChild(option);
  }
  labels = labels.eq(0).find('option');
  for(var i =0; i < labels.length; i++){
      var option = document.createElement('OPTION');
        
      
    
      var t = document.createTextNode(labels.eq(i).text());
      option.appendChild(t);
   	  option.id = i;
      select.appendChild(option);
    
    	if(i ==0){
          select.removeChild(select.firstElementChild);
          
          
        }
    
  }
  
  select.selectedIndex = selected;
}
  
  $('.plump-st-item__button').click(function(){
   if(!$('.plump-st-item__button').hasClass("plump-st-disabled")){
     
      $('#add_to_cart_button').eq(0).click();
      }
    
   
  });
 if($('.selector-wrapper').eq(0).length >= 1){
  $('#st-select0').attr('style' ,'display: flex');
  populateOptions(document.getElementById('st-select0').getElementsByTagName('select')[0], $('.selector-wrapper:eq(0) select'));
}
  
  if($('#rc_radio_options').length >= 1){
  $('#st-select1').attr('style' ,'display: flex');
  populateOptions(document.getElementById('st-select1').getElementsByTagName('select')[0], $('.selector-wrapper:eq(1) select'));
}
    
    
    
};
  
     function checkIfDisabled() {
         setTimeout(function () {
             var elem = $('#add_to_cart_button');
             $('.plump-st-item__button').text(elem.val());
             if (elem.val() != 'Add to Cart') {
                 $('.plump-st-item__button').text(elem.val());
                 $('.plump-st-item__button').addClass('plump-st-disabled');
             } else {
                 $('.plump-st-item__button').removeClass('plump-st-disabled');
             }
         }, 100);
     }
//checkIfDisabled();
  $('.r > label').click(function(){
   		checkIfDisabled();
});
$('#st-select0 > select').change(function(){
  checkIfDisabled();
  //$('.selector-wrapper:eq(0) select').val($(this).val()).change();
  var index = $(this).prop('selectedIndex');
  if(jQuery('#variant_select b').text().includes('Please')){
    index = index - 1;
  }
  var varID = jQuery('#product_id_select option').eq(index).val();
var ur = window.location.href;
  if(ur.includes('variant=')){
    ur = ur.split('?variant=')[0];
  window.location.href = ur + "?variant=" + varID;
  }
  
  else{
    window.location.href = ur + "?variant=" + varID;
  }
 
});
  $('#rc_radio_options input').change(function(){
  
    if($(this).val() == 'onetime'){
      $('#st-select1 > select').prop('selectedIndex', 0);
    }
    else{
       $('#st-select1 > select').prop('selectedIndex', 1);
    }
  });
$('#st-select1 > select').change(function(){
var index = $(this).prop('selectedIndex');
  $('#rc_radio_options input').eq(index).click();
  
});
$('#st-select2 > select').change(function(){
var i = $(this).find(":selected").attr('id');
  
  //$('#bcpo-select-option-2 > div > label').eq(i).click();
  
});
  
$('.selector-wrapper:eq(0) select').change(function(){
checkIfDisabled();
 $('#st-select0 > select').val($(this).val());
});
  
$('.selector-wrapper:eq(1) select').change(function(){
 $('#st-select1 > select').val($(this).val());
});
    
    
  checkIfDisabled();
  
function isVisible(elem){
var elementTop = elem.offset().top;
var elementBottom = elementTop + elem.outerHeight();
var viewportTop = $(window).scrollTop();
var viewportBottom = viewportTop + $(window).height();
return elementBottom > viewportTop && elementTop < viewportBottom;
};
       
var mc = window.matchMedia("(min-width: 767px)");
        mc.addListener(slideshow);    
        
    var elem = document.getElementById("plump-st-containerID");      
    function slideshow() {
          $('body').addClass('plump-sticky');
    }
          		
     function slideHide() {    
        $('body').removeClass('plump-sticky');
     }
              
    $(document).scroll(function() {
    var y = $(this).scrollTop();
    if (y > $('#add_to_cart_button').offset().top ) {
       slideshow();
            
    } else {
  
        slideHide();
        
    }
});   
                         
}
});
