/*
|--------------------------------------------------------------------------
| Custom CSS (not from original theme)
|--------------------------------------------------------------------------
*/

.compare-price {
  margin-left: 5px;
  text-decoration: line-through;
  opacity: 0.5;
}
