.product-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
  column-gap: 1rem;
  row-gap: 1rem;
}


@media screen and (min-width: 1024px) {
  .product-icons {
    justify-content: flex-start;
  }
}

.product-variant {
  border: 1px solid #1d1d1B;
  height: 48px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  font-size: 12px;
  padding: 0 2rem;
}

.product-variant label {
  padding-right: 4px;
}